.contact-layout {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
  @media (width >= 768px) {
    grid-template-columns: auto 1fr;
  }
}


.sidebar {
  max-width: 300px;
  height: auto;
  background: var(--sidebar-bg);
  padding: 20px;
}

.scroll-stable{
  overflow-y: scroll;
  scrollbar-gutter: stable;
}
.scroll-container {
  overflow-y: scroll;
  scrollbar-gutter: stable;
  height: calc(100vh - 200px);
  display: flex;
  flex-direction: column-reverse;
}

.messages {
  background: #fff;
  border-radius: 8px;
  contain: content;
  display: flex;
  flex-direction: column;
  max-width: 768px;
  width:100%;
  margin: 0 auto 10px;
}

.message {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  background-color: var(--chat-bubble-bg);
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.message:last-child {
  margin-bottom: 0;
}

.message-date {
  margin-left: auto;
}

.messages p {
  margin: 0;
}

.chat-input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 18px;

  @media (width >= 768px) {
    max-width: 768px;
    margin: 0 auto;
    display: block;
  }
}

.contact-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  list-style: none;
  padding: 0;
}

.contact-list__button {
  background: transparent;
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
  padding: 20px 10px;
  border-radius: 8px;

  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 10px;

  &:hover {
    background: #eee;
    cursor: pointer;
  }

  &.active {
    background: #eee;
  }
}

.contact-list__email {
  text-align: left;
  font-style: italic;
  font-weight: lighter;
}

.contact-list__username {
  text-align: left;
  font-weight: bold;
}