<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
  <title>{{.Title}}</title>
  <style>
    :root {
      --main-bg-color: #F8DF07;
    }

    *, *::before, *::after {
      box-sizing: border-box;
    }

    html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    body {
      background-color: var(--main-bg-color);
      font-family: "Raleway", sans-serif;
      font-optical-sizing: auto;
    }

    .toast {
      position: fixed;
      bottom: 10px;
      right: 10px;
      left: 10px;
      background: #fff;
      padding: 10px 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      & .toast__text {
        line-height: 1.5;
      }
    }

    @media (width >= 414px) {
      .toast {
        left: unset;
        max-width: 300px;
      }
    }
  </style>
  <link rel="stylesheet" href="assets/css/register.css">
  <title>Register / Login</title>
</head>
<body>
<div class="layout">
  <form class="layout-item" data-sc-method="POST" action="/createMagicLink" data-sc-id="registerForm"
        data-sc-form-onerror="onerror" data-sc-form-onsuccess="onsuccess">
    <h1>Register / Login</h1>
    <div class="center">
      <label class="d-none" for="email">
        Email:
      </label>
      <input type="hidden" value="{{.CSRF}}" name="csrf" data-sc-form-header="X-CSRF-Token" />
      <input id="email" class="input" type="text" name="email" placeholder="example@host.com">
    </div>
  </form>
</div>
<template data-sc-id="toast">
  <div class="toast">
    <p class="toast__text">
    </p>
  </div>
</template>

<template data-sc-id="emailSent">
  <div class="layout-item">
    <h2>
      Check your Inbox for a magic link!
    </h2>
  </div>
</template>

<script type="module">
  import './assets/js/register.js';
</script>
</body>
</html>