<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Project A</title>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <script src="/assets/js/index.js" type="module"></script>
</head>
<body>
<div class="container">
    Database users:

    <ul class="list-group">
        {{if not . }}
            <li>No users found</li>
        {{ else }}
            {{ range . }}
                <li>{{ .Username }} - {{ .Email }}</li>
            {{ end }}
        {{ end }}
    </ul>

    <form action="/users" method="post">
        <input type="text" placeholder="Username" name="username">
        <input type="email" placeholder="email" name="email">
        <button id="registerBtn" type="submit">
            Register
        </button>
    </form>
</div>
</body>
</html>